/*
Theme Name: SETUP-2911
Theme URI: https://setup-2911.basestructure.com/
Description: This is the prototype theme created by Mark Corpuz.
Author: Mark Corpuz
Author URI: https://markcorpuz.com/

Version: 2.9.1.1

Tags: accessibility-ready, block-styles, custom-colors, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, left-sidebar, one-column, right-sidebar, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, two-columns, wide-blocks

Template: genesis

License: GPL-2.0-or-later
License URI: https://www.gnu.org/licenses/gpl-2.0.html

Text Domain: setup-2911
*/