/* SETUP | VARIABLES | 2911_PROTOTYPE-STARTER | FONTSIZE - 2019-05-10 */
// SETUP | VARIABLES | 2911_SETUP | FONTSIZE - 2019-04-02 */

// -------------------------------------
// VARIABLES

	$fontsize-default:					1.0;		// 16px
		$fontsize-default-mobile:		0.875;		// 14px
	$fontsize-regular:					1.125;		// 18px		REGULAR

// TAGS

	$fontsize-body:						1.125;		// 18px		REGULAR
	$fontsize-p:						1.125;		// 18px		REGULAR
	
	// LIST
	$fontsize-list:						1.0;		// 16px
	$fontsize-ul:						1.0;		// 16px
	$fontsize-ol:						1.0;		// 16px
	$fontsize-li:						1.0;		// 16px

	// HEADLINE (Material.io)
	$fontsize-headline:					null;
	$fontsize-h1:						6;			// 96px		H1
	$fontsize-h2:						3.75;		// 60px		H2
	$fontsize-h3:						3;			// 48px		H3
	$fontsize-h4:						2.25;		// 36px		H4
	$fontsize-h5:						1.5;		// 24px		H5
	$fontsize-h6:						1.25;		// 20px		H6

		// HEADLINE MED
		$fontsize-h1-med:				5.0;		// H1
		$fontsize-h2-med:				3;			// H2
		$fontsize-h3-med:				2.25;		// H3
		$fontsize-h4-med:				1.5;		// H4
		$fontsize-h5-med:				1.25;		// H5
		$fontsize-h6-med:				1.125;		// H6

		// HEADLINE SML	
		$fontsize-h1-sml:				3.75;		// H1
		$fontsize-h2-sml:				2.125;		// H2
		$fontsize-h3-sml:				1.5;		// H3
		$fontsize-h4-sml:				1.25;		// H4
		$fontsize-h5-sml:				1.125;		// H5
		$fontsize-h6-sml:				1.0;		// H6

// RELATIVE

	$fontsize-huge:						8.0;		// 128px
	$fontsize-xxxlrg:					6.0;		// 96px		H1
	$fontsize-xxlrg:					5.0;		// 80px
	$fontsize-xlrg:						3.75;		// 64px		H2
	$fontsize-lrg:						3;			// 48px		H3
	$fontsize-med:						2.25;		// 36px		H4
	$fontsize-sml:						1.5;		// 24px		H5
	$fontsize-xsml:						1.25;		// 20px		H6
	$fontsize-xxsml:					1;			// 16px
	$fontsize-xxxsml:					0.875;		// 14px
	$fontsize-tiny:						0.75;		// 12px
	$fontsize-tinier:					0.625;		// 10px
	$fontsize-tiniest:					0.5;		// 8px

		// MED
		$fontsize-huge-med:				6.0;		
		$fontsize-xxxlrg-med:			5.0;		// H1
		$fontsize-xxlrg-med:			3.75;	
		$fontsize-xlrg-med:				3;			// H2
		$fontsize-lrg-med:				2.25;		// H3
		$fontsize-med-med:				1.5;		// H4
		$fontsize-sml-med:				1.25;		// H5
		$fontsize-xsml-med:				1.125;		// H6

		// SML
		$fontsize-huge-sml:				5.0;		
		$fontsize-xxxlrg-sml:			3.75;		// H1
		$fontsize-xxlrg-sml:			3;	
		$fontsize-xlrg-sml:				2.125;		// H2
		$fontsize-lrg-sml:				1.5;		// H3
		$fontsize-med-sml:				1.25;		// H4
		$fontsize-sml-sml:				1.125;		// H5
		$fontsize-xsml-sml:				1.0;		// H6

// PURPOSE

	// QUOTES
	$fontsize-blockquote:				1.75;		// 28px
	$fontsize-quote:					1.75;		// 28px
	$fontsize-cite:						0.75;		// 12px

	// CAPTION
	$fontsize-caption:					0.75;		// 12px
	
	// TITLES
	$fontsize-sitetitle:				1.5;
	$fontsize-sitedescription:			0.875;
	$fontsize-titlepage:				null;
	$fontsize-titlepost:				null;
	$fontsize-titlewidget:				0.875;		// 14px
	$fontsize-titlearchive:				null;

	// META
	$fontsize-meta:						0.875;		// 14px	
	$fontsize-copyright:				null;
	$fontsize-breadcrumb:				null;

// PAGE & POST

	// ENTRY
	$fontsize-entrytitle:				3;			// 48px H3
		$fontsize-entrytitle-med:		2.25;
		$fontsize-entrytitle-sml:		1.5;
	$fontsize-entrymeta:				0.875;

	// FEATURED POST
	$fontsize-featuredpost-entrytitle:	null;
	$fontsize-featuredpost-entrymeta:	0.875;

	// SINGLE
	$fontsize-single-entrytitle:		null;
	$fontsize-single-entrymeta:			null;

	// PAGE
	$fontsize-page-entrytitle:			null;
	$fontsize-page-entrymeta:			null;

	// BLOG
	$fontsize-blog-entrytitle:			2.25;		// 36px	H4
		$fontsize-blog-entrytitle-med:	1.5;
		$fontsize-blog-entrytitle-sml:	1.5;
	$fontsize-blog-entrymeta:			0.75;

	// ARCHIVE
	$fontsize-archivetitle:				2.125;
	$fontsize-archivedescription:		null;

	// FEATURED
	$fontsize-featuredtitle:			null;
	$fontsize-featureddescription:		null;

	// COMMENTS
	$fontsize-commentstitle:			null;

	// REPLY
	$fontsize-replytitle:				null;

	// WIDGET
	$fontsize-widgettitle:				0.875;		// 14px